In [1]:
import pandas as pd

In [3]:
import numpy as np

In [20]:
# 1 million Movielens dataset

ratings = pd.read_table('ratings.dat',sep='::',names=['user','movieid','rating','time'], engine='python')
users = pd.read_table('users.dat',sep='::',names=['user','gender','age','occupation','zip'], engine='python')
movies = pd.read_table('movies.dat',sep='::',names=['movieid','title','genre'], engine='python')

In [26]:
movielens = pd.merge(ratings,movies)

In [28]:
movielens.head()

,user,movieid,rating,time,title,genre
0,1,1193,5,978300760,One Flew Over the Cuckoo's Nest (1975),Drama
1,2,1193,5,978298413,One Flew Over the Cuckoo's Nest (1975),Drama
2,12,1193,4,978220179,One Flew Over the Cuckoo's Nest (1975),Drama
3,15,1193,4,978199279,One Flew Over the Cuckoo's Nest (1975),Drama
4,17,1193,5,978158471,One Flew Over the Cuckoo's Nest (1975),Drama

In [31]:
movielens.to_csv('movielens.csv')

In [29]:
import math

In [30]:
math.log10(1000)

3.0

In [41]:
moviesid_frequency = pd.crosstab(index = movielens["movieid"], columns="frequency") 

#movielens_frequency = pd.crosstab(index = movielens["movieid"], columns="count")

In [45]:
moviesid_frequency

col_0    frequency
movieid
1             2077
2              701
3              478
4              170
5              296
6              940
7              458
8               68
9              102
10             888
11            1033
12             160
13              99
14             153
15             146
16             682
17             835
18             157
19             389
20             160
21            1356
22             378
23             126
24             624
25             980
26             100
27              61
28             179
29             403
30              74
...            ...
3923           104
3924            26
3925           124
3926           180
3927           348
3928           206
3929           147
3930           223
3931            27
3932           232
3933            16
3934            28
3935            23
3936           112
3937           135
3938            27
3939            26
3940            15
3941            22
3942            28
3943            96
3944             9
3945            43
3946           100
3947            55
3948           862
3949           304
3950            54
3951            40
3952           388

[3706 rows x 1 columns]

In [44]:
moviesid_frequency = moviesid_frequency.sort_values('frequency', ascending = False)

col_0    frequency
movieid
2858          3428
260           2991
1196          2990
1210          2883
480           2672
2028          2653
589           2649
2571          2590
1270          2583
593           2578
1580          2538
1198          2514
608           2513
2762          2459
110           2443
2396          2369
1197          2318
527           2304
1617          2288
1265          2278
1097          2269
2628          2250
2997          2241
318           2227
858           2223
356           2194
2716          2181
296           2171
1240          2098
1             2077
...            ...
655              1
701              1
790              1
1815             1
1470             1
3172             1
3164             1
774              1
545              1
843              1
1724             1
3209             1
814              1
3220             1
2556             1
3277             1
133              1
3530             1
601              1
658              1
139              1
142              1
1430             1
1843             1
1579             1
3237             1
763              1
624              1
2563             1
3290             1

[3706 rows x 1 columns]

In [46]:
moviesid_frequency.to_csv('moviesid_frequency')

In [48]:
moviesid_frequency_top_25 = moviesid_frequency.sort_values('frequency', ascending = False).head(25)

In [51]:
moviesid_frequency_top_25.to_csv('moviesid_frequency_top_25.csv')

In [52]:
movie_popular25 = pd.read_csv('moviesid_frequency_top_25.csv')

In [53]:
initial_seed_popularity = pd.merge (movie_popular25, movies)

In [56]:
#Top 25 movies based on popularity.

initial_seed_popularity

,movieid,frequency,title,genre
0,2858,3428,American Beauty (1999),Comedy|Drama
1,260,2991,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Fantasy|Sci-Fi
2,1196,2990,Star Wars: Episode V - The Empire Strikes Back...,Action|Adventure|Drama|Sci-Fi|War
3,1210,2883,Star Wars: Episode VI - Return of the Jedi (1983),Action|Adventure|Romance|Sci-Fi|War
4,480,2672,Jurassic Park (1993),Action|Adventure|Sci-Fi
5,2028,2653,Saving Private Ryan (1998),Action|Drama|War
6,589,2649,Terminator 2: Judgment Day (1991),Action|Sci-Fi|Thriller
7,2571,2590,"Matrix, The (1999)",Action|Sci-Fi|Thriller
8,1270,2583,Back to the Future (1985),Comedy|Sci-Fi
9,593,2578,"Silence of the Lambs, The (1991)",Drama|Thriller
10,1580,2538,Men in Black (1997),Action|Adventure|Comedy|Sci-Fi
11,1198,2514,Raiders of the Lost Ark (1981),Action|Adventure
12,608,2513,Fargo (1996),Crime|Drama|Thriller
13,2762,2459,"Sixth Sense, The (1999)",Thriller
14,110,2443,Braveheart (1995),Action|Drama|War
15,2396,2369,Shakespeare in Love (1998),Comedy|Romance
16,1197,2318,"Princess Bride, The (1987)",Action|Adventure|Comedy|Romance
17,527,2304,Schindler's List (1993),Drama|War
18,1617,2288,L.A. Confidential (1997),Crime|Film-Noir|Mystery|Thriller
19,1265,2278,Groundhog Day (1993),Comedy|Romance
20,1097,2269,E.T. the Extra-Terrestrial (1982),Children's|Drama|Fantasy|Sci-Fi
21,2628,2250,Star Wars: Episode I - The Phantom Menace (1999),Action|Adventure|Fantasy|Sci-Fi
22,2997,2241,Being John Malkovich (1999),Comedy
23,318,2227,"Shawshank Redemption, The (1994)",Drama
24,858,2223,"Godfather, The (1972)",Action|Crime|Drama

In [57]:
import numpy as np

In [59]:
import numpy

In [128]:
numpy.log10(40)

1.6020599913279625

In [72]:
moviesid_frequency.head()

col_0    frequency  log_value
movieid
1             2077   3.317436
2              701   2.845718
3              478   2.679428
4              170   2.230449
5              296   2.471292

In [68]:
moviesid_frequency = moviesid_frequency.assign (log_value = numpy.log10(moviesid_frequency))

/home/ishu/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: RuntimeWarning: divide by zero encountered in log10
  """Entry point for launching an IPython kernel.

In [70]:
moviesid_frequency.to_csv('moviesid_frequency_log.csv')

In [73]:
moviesid_log_frequency_top_25 = moviesid_frequency.sort_values('log_value', ascending = False).head(25)

In [74]:
moviesid_log_frequency_top_25

col_0    frequency  log_value
movieid
2858          3428   3.535041
260           2991   3.475816
1196          2990   3.475671
1210          2883   3.459845
480           2672   3.426836
2028          2653   3.423737
589           2649   3.423082
2571          2590   3.413300
1270          2583   3.412124
593           2578   3.411283
1580          2538   3.404492
1198          2514   3.400365
608           2513   3.400192
2762          2459   3.390759
110           2443   3.387923
2396          2369   3.374565
1197          2318   3.365113
527           2304   3.362482
1617          2288   3.359456
1265          2278   3.357554
1097          2269   3.355834
2628          2250   3.352183
2997          2241   3.350442
318           2227   3.347720
858           2223   3.346939

In [75]:
moviesid_log_frequency_top_25.to_csv('moviesid_log_frequency_top_25.csv')

In [76]:
movie_logpopular25 = pd.read_csv('moviesid_log_frequency_top_25.csv')

In [77]:
initial_seed_log_popularity = pd.merge (movie_logpopular25, movies)

In [79]:
initial_seed_log_popularity.to_csv('initial_seed_log_popularity')

In [81]:
#Top 25 movies based on log (popularity).

initial_seed_log_popularity

,movieid,frequency,log_value,title,genre
0,2858,3428,3.535041,American Beauty (1999),Comedy|Drama
1,260,2991,3.475816,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Fantasy|Sci-Fi
2,1196,2990,3.475671,Star Wars: Episode V - The Empire Strikes Back...,Action|Adventure|Drama|Sci-Fi|War
3,1210,2883,3.459845,Star Wars: Episode VI - Return of the Jedi (1983),Action|Adventure|Romance|Sci-Fi|War
4,480,2672,3.426836,Jurassic Park (1993),Action|Adventure|Sci-Fi
5,2028,2653,3.423737,Saving Private Ryan (1998),Action|Drama|War
6,589,2649,3.423082,Terminator 2: Judgment Day (1991),Action|Sci-Fi|Thriller
7,2571,2590,3.413300,"Matrix, The (1999)",Action|Sci-Fi|Thriller
8,1270,2583,3.412124,Back to the Future (1985),Comedy|Sci-Fi
9,593,2578,3.411283,"Silence of the Lambs, The (1991)",Drama|Thriller
10,1580,2538,3.404492,Men in Black (1997),Action|Adventure|Comedy|Sci-Fi
11,1198,2514,3.400365,Raiders of the Lost Ark (1981),Action|Adventure
12,608,2513,3.400192,Fargo (1996),Crime|Drama|Thriller
13,2762,2459,3.390759,"Sixth Sense, The (1999)",Thriller
14,110,2443,3.387923,Braveheart (1995),Action|Drama|War
15,2396,2369,3.374565,Shakespeare in Love (1998),Comedy|Romance
16,1197,2318,3.365113,"Princess Bride, The (1987)",Action|Adventure|Comedy|Romance
17,527,2304,3.362482,Schindler's List (1993),Drama|War
18,1617,2288,3.359456,L.A. Confidential (1997),Crime|Film-Noir|Mystery|Thriller
19,1265,2278,3.357554,Groundhog Day (1993),Comedy|Romance
20,1097,2269,3.355834,E.T. the Extra-Terrestrial (1982),Children's|Drama|Fantasy|Sci-Fi
21,2628,2250,3.352183,Star Wars: Episode I - The Phantom Menace (1999),Action|Adventure|Fantasy|Sci-Fi
22,2997,2241,3.350442,Being John Malkovich (1999),Comedy
23,318,2227,3.347720,"Shawshank Redemption, The (1994)",Drama
24,858,2223,3.346939,"Godfather, The (1972)",Action|Crime|Drama

In [83]:
movielens_temp = movielens

In [90]:
movielens_temp

         movieid  rating
0           1193       5
1           1193       5
2           1193       4
3           1193       4
4           1193       5
5           1193       4
6           1193       5
7           1193       5
8           1193       3
9           1193       5
10          1193       5
11          1193       3
12          1193       4
13          1193       4
14          1193       4
15          1193       4
16          1193       5
17          1193       5
18          1193       5
19          1193       4
20          1193       4
21          1193       4
22          1193       5
23          1193       5
24          1193       5
25          1193       5
26          1193       3
27          1193       2
28          1193       5
29          1193       2
...          ...     ...
1000179     3084       3
1000180     2218       2
1000181     2308       2
1000182      624       4
1000183     1434       4
1000184     1434       4
1000185     1868       3
1000186     1868       1
1000187      404       3
1000188      404       4
1000189      404       5
1000190      404       3
1000191     2543       3
1000192     2543       4
1000193      591       3
1000194      591       1
1000195     3656       5
1000196     2438       4
1000197     3323       3
1000198      127       1
1000199     3382       5
1000200     1843       3
1000201      286       3
1000202     3530       4
1000203     2198       3
1000204     2198       5
1000205     2703       3
1000206     2845       1
1000207     3607       5
1000208     2909       4

[1000209 rows x 2 columns]

In [89]:
#movielens_temp = movielens_temp.drop('time', 1)
#movielens_temp = movielens_temp.drop('title', 1)
#movielens_temp = movielens_temp.drop('genre', 1)
movielens_temp = movielens_temp.drop('user', 1)

In [91]:
variance_1 = movielens_temp.groupby("movieid")['rating'].var(ddof=True)

In [93]:
variance_2 = movielens_temp.groupby("movieid")['rating'].var(ddof=False)

In [92]:
variance_1

movieid
1       0.726499
2       0.966627
3       1.148566
4       1.026940
5       1.050802
6       0.873455
7       0.960240
8       0.910228
9       1.098913
10      0.794296
11      0.747171
12      1.452673
13      1.113997
14      0.762986
15      1.491403
16      0.819161
17      0.818185
18      1.032745
19      1.389447
20      0.816195
21      0.873938
22      0.954655
23      1.003429
24      1.139482
25      1.195760
26      0.898081
27      0.962295
28      0.760906
29      0.993655
30      1.025546
          ...
3923    0.964899
3924    1.273846
3925    1.019407
3926    0.656580
3927    0.676505
3928    1.155127
3929    0.938310
3930    1.164101
3931    1.037037
3932    0.829004
3933    1.533333
3934    1.517196
3935    0.909091
3936    0.742519
3937    0.727805
3938    1.148148
3939    1.718462
3940    1.638095
3941    1.569264
3942    1.285714
3943    1.565680
3944    1.861111
3945    1.065338
3946    1.164040
3947    1.402020
3948    1.028594
3949    1.019704
3950    1.094340
3951    1.117949
3952    0.874364
Name: rating, Length: 3706, dtype: float64

In [95]:
variance_2

movieid
1       0.726149
2       0.965248
3       1.146163
4       1.020900
5       1.047252
6       0.872526
7       0.958143
8       0.896843
9       1.088139
10      0.793402
11      0.746448
12      1.443594
13      1.102745
14      0.757999
15      1.481188
16      0.817960
17      0.817205
18      1.026167
19      1.385875
20      0.811094
21      0.873293
22      0.952129
23      0.995465
24      1.137656
25      1.194540
26      0.889100
27      0.946520
28      0.756656
29      0.991189
30      1.011687
          ...
3923    0.955621
3924    1.224852
3925    1.011186
3926    0.652932
3927    0.674561
3928    1.149519
3929    0.931927
3930    1.158881
3931    0.998628
3932    0.825431
3933    1.437500
3934    1.463010
3935    0.869565
3936    0.735890
3937    0.722414
3938    1.105624
3939    1.652367
3940    1.528889
3941    1.497934
3942    1.239796
3943    1.549371
3944    1.654321
3945    1.040562
3946    1.152400
3947    1.376529
3948    1.027401
3949    1.016350
3950    1.074074
3951    1.090000
3952    0.872110
Name: rating, Length: 3706, dtype: float64

In [106]:
#Checking for na values
#variance_1.isna().any()
variance_2.isna().any()

False

In [108]:
variance_1.to_csv('variance_1.csv')

In [109]:
variance_2.to_csv('variance_2.csv')

In [112]:
variance1 = pd.read_csv('variance_1.csv')

In [113]:
variance2 = pd.read_csv('variance_2.csv')

In [114]:
variance_values = pd.merge(variance1, variance2)

In [115]:
variance_values

      movieid  variance_1  variance_2
0           1    0.726499    0.726149
1           2    0.966627    0.965248
2           3    1.148566    1.146163
3           4    1.026940    1.020900
4           5    1.050802    1.047252
5           6    0.873455    0.872526
6           7    0.960240    0.958143
7           8    0.910228    0.896843
8           9    1.098913    1.088139
9          10    0.794296    0.793402
10         11    0.747171    0.746448
11         12    1.452673    1.443594
12         13    1.113997    1.102745
13         14    0.762986    0.757999
14         15    1.491403    1.481188
15         16    0.819161    0.817960
16         17    0.818185    0.817205
17         18    1.032745    1.026167
18         19    1.389447    1.385875
19         20    0.816195    0.811094
20         21    0.873938    0.873293
21         22    0.954655    0.952129
22         23    1.003429    0.995465
23         24    1.139482    1.137656
24         25    1.195760    1.194540
25         26    0.898081    0.889100
26         27    0.962295    0.946520
27         28    0.760906    0.756656
28         29    0.993655    0.991189
29         30    1.025546    1.011687
...       ...         ...         ...
3676     3923    0.964899    0.955621
3677     3924    1.273846    1.224852
3678     3925    1.019407    1.011186
3679     3926    0.656580    0.652932
3680     3927    0.676505    0.674561
3681     3928    1.155127    1.149519
3682     3929    0.938310    0.931927
3683     3930    1.164101    1.158881
3684     3931    1.037037    0.998628
3685     3932    0.829004    0.825431
3686     3933    1.533333    1.437500
3687     3934    1.517196    1.463010
3688     3935    0.909091    0.869565
3689     3936    0.742519    0.735890
3690     3937    0.727805    0.722414
3691     3938    1.148148    1.105624
3692     3939    1.718462    1.652367
3693     3940    1.638095    1.528889
3694     3941    1.569264    1.497934
3695     3942    1.285714    1.239796
3696     3943    1.565680    1.549371
3697     3944    1.861111    1.654321
3698     3945    1.065338    1.040562
3699     3946    1.164040    1.152400
3700     3947    1.402020    1.376529
3701     3948    1.028594    1.027401
3702     3949    1.019704    1.016350
3703     3950    1.094340    1.074074
3704     3951    1.117949    1.090000
3705     3952    0.874364    0.872110

[3706 rows x 3 columns]

In [121]:
from statistics import variance
import numpy as np
print(np.var([1.0]))
#print(np.var([1.0],ddof=1))
#print(variance([1.0],[0.0]))

0.0

In [100]:
moviesId_Frequency

col_0    count  log_value
movieId
1          247   2.392697
2          107   2.029384
3           59   1.770852
4           13   1.113943
5           56   1.748188
6          104   2.017033
7           53   1.724276
8            5   0.698970
9           20   1.301030
10         122   2.086360
11          82   1.913814
12          18   1.255273
13           8   0.903090
14          31   1.491362
15          11   1.041393
16          88   1.944483
17          86   1.934498
18          26   1.414973
19          92   1.963788
20          13   1.113943
21          95   1.977724
22          38   1.579784
23          22   1.342423
24          34   1.531479
25         101   2.004321
26           5   0.698970
27           7   0.845098
28          18   1.255273
29          40   1.602060
30          10   1.000000
...        ...        ...
158238       2   0.301030
158314       1   0.000000
158528       1   0.000000
158956       1   0.000000
159093       2   0.301030
159462       1   0.000000
159690       1   0.000000
159755       1   0.000000
159858       2   0.301030
159972       1   0.000000
160080       1   0.000000
160271       1   0.000000
160438       2   0.301030
160440       1   0.000000
160563       2   0.301030
160565       1   0.000000
160567       1   0.000000
160590       1   0.000000
160656       1   0.000000
160718       1   0.000000
161084       1   0.000000
161155       1   0.000000
161594       1   0.000000
161830       1   0.000000
161918       1   0.000000
161944       1   0.000000
162376       1   0.000000
162542       1   0.000000
162672       1   0.000000
163949       1   0.000000

[9066 rows x 2 columns]

In [118]:
test = variance_values['movieid'] == 127

variance_values[test]

     movieid  variance_1  variance_2
122      127         0.0         0.0

In [126]:
moviesidfrequency = pd.read_csv('moviesid_frequency_log.csv')

In [127]:
moviesidfrequency

      movieid  frequency  log_value
0           1       2077   3.317436
1           2        701   2.845718
2           3        478   2.679428
3           4        170   2.230449
4           5        296   2.471292
5           6        940   2.973128
6           7        458   2.660865
7           8         68   1.832509
8           9        102   2.008600
9          10        888   2.948413
10         11       1033   3.014100
11         12        160   2.204120
12         13         99   1.995635
13         14        153   2.184691
14         15        146   2.164353
15         16        682   2.833784
16         17        835   2.921686
17         18        157   2.195900
18         19        389   2.589950
19         20        160   2.204120
20         21       1356   3.132260
21         22        378   2.577492
22         23        126   2.100371
23         24        624   2.795185
24         25        980   2.991226
25         26        100   2.000000
26         27         61   1.785330
27         28        179   2.252853
28         29        403   2.605305
29         30         74   1.869232
...       ...        ...        ...
3676     3923        104   2.017033
3677     3924         26   1.414973
3678     3925        124   2.093422
3679     3926        180   2.255273
3680     3927        348   2.541579
3681     3928        206   2.313867
3682     3929        147   2.167317
3683     3930        223   2.348305
3684     3931         27   1.431364
3685     3932        232   2.365488
3686     3933         16   1.204120
3687     3934         28   1.447158
3688     3935         23   1.361728
3689     3936        112   2.049218
3690     3937        135   2.130334
3691     3938         27   1.431364
3692     3939         26   1.414973
3693     3940         15   1.176091
3694     3941         22   1.342423
3695     3942         28   1.447158
3696     3943         96   1.982271
3697     3944          9   0.954243
3698     3945         43   1.633468
3699     3946        100   2.000000
3700     3947         55   1.740363
3701     3948        862   2.935507
3702     3949        304   2.482874
3703     3950         54   1.732394
3704     3951         40   1.602060
3705     3952        388   2.588832

[3706 rows x 3 columns]

In [129]:
initial_seed = pd.merge (moviesidfrequency,variance_values)

In [130]:
initial_seed

      movieid  frequency  log_value  variance_1  variance_2
0           1       2077   3.317436    0.726499    0.726149
1           2        701   2.845718    0.966627    0.965248
2           3        478   2.679428    1.148566    1.146163
3           4        170   2.230449    1.026940    1.020900
4           5        296   2.471292    1.050802    1.047252
5           6        940   2.973128    0.873455    0.872526
6           7        458   2.660865    0.960240    0.958143
7           8         68   1.832509    0.910228    0.896843
8           9        102   2.008600    1.098913    1.088139
9          10        888   2.948413    0.794296    0.793402
10         11       1033   3.014100    0.747171    0.746448
11         12        160   2.204120    1.452673    1.443594
12         13         99   1.995635    1.113997    1.102745
13         14        153   2.184691    0.762986    0.757999
14         15        146   2.164353    1.491403    1.481188
15         16        682   2.833784    0.819161    0.817960
16         17        835   2.921686    0.818185    0.817205
17         18        157   2.195900    1.032745    1.026167
18         19        389   2.589950    1.389447    1.385875
19         20        160   2.204120    0.816195    0.811094
20         21       1356   3.132260    0.873938    0.873293
21         22        378   2.577492    0.954655    0.952129
22         23        126   2.100371    1.003429    0.995465
23         24        624   2.795185    1.139482    1.137656
24         25        980   2.991226    1.195760    1.194540
25         26        100   2.000000    0.898081    0.889100
26         27         61   1.785330    0.962295    0.946520
27         28        179   2.252853    0.760906    0.756656
28         29        403   2.605305    0.993655    0.991189
29         30         74   1.869232    1.025546    1.011687
...       ...        ...        ...         ...         ...
3676     3923        104   2.017033    0.964899    0.955621
3677     3924         26   1.414973    1.273846    1.224852
3678     3925        124   2.093422    1.019407    1.011186
3679     3926        180   2.255273    0.656580    0.652932
3680     3927        348   2.541579    0.676505    0.674561
3681     3928        206   2.313867    1.155127    1.149519
3682     3929        147   2.167317    0.938310    0.931927
3683     3930        223   2.348305    1.164101    1.158881
3684     3931         27   1.431364    1.037037    0.998628
3685     3932        232   2.365488    0.829004    0.825431
3686     3933         16   1.204120    1.533333    1.437500
3687     3934         28   1.447158    1.517196    1.463010
3688     3935         23   1.361728    0.909091    0.869565
3689     3936        112   2.049218    0.742519    0.735890
3690     3937        135   2.130334    0.727805    0.722414
3691     3938         27   1.431364    1.148148    1.105624
3692     3939         26   1.414973    1.718462    1.652367
3693     3940         15   1.176091    1.638095    1.528889
3694     3941         22   1.342423    1.569264    1.497934
3695     3942         28   1.447158    1.285714    1.239796
3696     3943         96   1.982271    1.565680    1.549371
3697     3944          9   0.954243    1.861111    1.654321
3698     3945         43   1.633468    1.065338    1.040562
3699     3946        100   2.000000    1.164040    1.152400
3700     3947         55   1.740363    1.402020    1.376529
3701     3948        862   2.935507    1.028594    1.027401
3702     3949        304   2.482874    1.019704    1.016350
3703     3950         54   1.732394    1.094340    1.074074
3704     3951         40   1.602060    1.117949    1.090000
3705     3952        388   2.588832    0.874364    0.872110

[3706 rows x 5 columns]

In [131]:
initial_seed.isna().any()

movieid       False
frequency     False
log_value     False
variance_1    False
variance_2    False
dtype: bool

In [132]:
initial_seed['new_score_1'] = initial_seed.log_value * initial_seed.variance_1

In [133]:
initial_seed['new_score_2'] = initial_seed.log_value * initial_seed.variance_2

In [134]:
initial_seed

,movieid,frequency,log_value,variance_1,variance_2,new_score_1,new_score_2
0,1,2077,3.317436,0.726499,0.726149,2.410114,2.408954
1,2,701,2.845718,0.966627,0.965248,2.750749,2.746825
2,3,478,2.679428,1.148566,1.146163,3.077500,3.071062
3,4,170,2.230449,1.026940,1.020900,2.290538,2.277065
4,5,296,2.471292,1.050802,1.047252,2.596837,2.588064
5,6,940,2.973128,0.873455,0.872526,2.596894,2.594131
6,7,458,2.660865,0.960240,0.958143,2.555070,2.549491
7,8,68,1.832509,0.910228,0.896843,1.668001,1.643472
8,9,102,2.008600,1.098913,1.088139,2.207277,2.185637
9,10,888,2.948413,0.794296,0.793402,2.341913,2.339275
10,11,1033,3.014100,0.747171,0.746448,2.252048,2.249868
11,12,160,2.204120,1.452673,1.443594,3.201865,3.181854
12,13,99,1.995635,1.113997,1.102745,2.223132,2.200676
13,14,153,2.184691,0.762986,0.757999,1.666889,1.655994
14,15,146,2.164353,1.491403,1.481188,3.227922,3.205813
15,16,682,2.833784,0.819161,0.817960,2.321327,2.317923
16,17,835,2.921686,0.818185,0.817205,2.390481,2.387618
17,18,157,2.195900,1.032745,1.026167,2.267805,2.253361
18,19,389,2.589950,1.389447,1.385875,3.598597,3.589347
19,20,160,2.204120,0.816195,0.811094,1.798992,1.787748
20,21,1356,3.132260,0.873938,0.873293,2.737400,2.735382
21,22,378,2.577492,0.954655,0.952129,2.460614,2.454105
22,23,126,2.100371,1.003429,0.995465,2.107572,2.090845
23,24,624,2.795185,1.139482,1.137656,3.185063,3.179959
24,25,980,2.991226,1.195760,1.194540,3.576788,3.573139
25,26,100,2.000000,0.898081,0.889100,1.796162,1.778200
26,27,61,1.785330,0.962295,0.946520,1.718014,1.689850
27,28,179,2.252853,0.760906,0.756656,1.714210,1.704634
28,29,403,2.605305,0.993655,0.991189,2.588773,2.582349
29,30,74,1.869232,1.025546,1.011687,1.916983,1.891078
...,...,...,...,...,...,...,...
3676,3923,104,2.017033,0.964899,0.955621,1.946234,1.927520
3677,3924,26,1.414973,1.273846,1.224852,1.802458,1.733133
3678,3925,124,2.093422,1.019407,1.011186,2.134049,2.116839
3679,3926,180,2.255273,0.656580,0.652932,1.480766,1.472540
3680,3927,348,2.541579,0.676505,0.674561,1.719390,1.714449
3681,3928,206,2.313867,1.155127,1.149519,2.672810,2.659835
3682,3929,147,2.167317,0.938310,0.931927,2.033615,2.019780
3683,3930,223,2.348305,1.164101,1.158881,2.733665,2.721406
3684,3931,27,1.431364,1.037037,0.998628,1.484377,1.429400
3685,3932,232,2.365488,0.829004,0.825431,1.961000,1.952547
3686,3933,16,1.204120,1.533333,1.437500,1.846317,1.730922
3687,3934,28,1.447158,1.517196,1.463010,2.195622,2.117207
3688,3935,23,1.361728,0.909091,0.869565,1.237934,1.184111
3689,3936,112,2.049218,0.742519,0.735890,1.521584,1.507998
3690,3937,135,2.130334,0.727805,0.722414,1.550468,1.538984
3691,3938,27,1.431364,1.148148,1.105624,1.643418,1.582550
3692,3939,26,1.414973,1.718462,1.652367,2.431577,2.338055
3693,3940,15,1.176091,1.638095,1.528889,1.926549,1.798113
3694,3941,22,1.342423,1.569264,1.497934,2.106616,2.010860
3695,3942,28,1.447158,1.285714,1.239796,1.860632,1.794181
3696,3943,96,1.982271,1.565680,1.549371,3.103602,3.071273
3697,3944,9,0.954243,1.861111,1.654321,1.775951,1.578623
3698,3945,43,1.633468,1.065338,1.040562,1.740196,1.699726
3699,3946,100,2.000000,1.164040,1.152400,2.328081,2.304800
3700,3947,55,1.740363,1.402020,1.376529,2.440024,2.395660
3701,3948,862,2.935507,1.028594,1.027401,3.019445,3.015943
3702,3949,304,2.482874,1.019704,1.016350,2.531797,2.523469
3703,3950,54,1.732394,1.094340,1.074074,1.895827,1.860719
3704,3951,40,1.602060,1.117949,1.090000,1.791021,1.746245
3705,3952,388,2.588832,0.874364,0.872110,2.263581,2.257747

In [135]:
top_25_variance_1 = initial_seed.sort_values('new_score_1', ascending = False).head(25)

In [139]:
top_25_variance_1 = pd.merge (top_25_variance_1, movies)

In [140]:
#Top 25 movies based on variance_1.

top_25_variance_1

,movieid,frequency,log_value,variance_1,variance_2,new_score_1,new_score_2,title,genre
0,2710,1237,3.092370,1.732824,1.731423,5.358532,5.354200,"Blair Witch Project, The (1999)",Horror
1,1924,249,2.396199,2.119931,2.111418,5.079778,5.059377,Plan 9 from Outer Space (1958),Horror|Sci-Fi
2,231,660,2.819544,1.745921,1.743276,4.922702,4.915243,Dumb & Dumber (1994),Comedy
3,2657,1233,3.090963,1.588047,1.586759,4.908594,4.904613,"Rocky Horror Picture Show, The (1975)",Comedy|Horror|Musical|Sci-Fi
4,288,700,2.845098,1.708766,1.706324,4.861606,4.854660,Natural Born Killers (1994),Action|Thriller
5,2700,1269,3.103462,1.526163,1.524960,4.736387,4.732655,"South Park: Bigger, Longer and Uncut (1999)",Animation|Comedy
6,2712,945,2.975432,1.586651,1.584972,4.720973,4.715977,Eyes Wide Shut (1999),Drama
7,1676,1163,3.065580,1.447799,1.446554,4.438343,4.434526,Starship Troopers (1997),Action|Adventure|Sci-Fi|War
8,1917,1110,3.045323,1.448266,1.446961,4.410438,4.406464,Armageddon (1998),Action|Adventure|Sci-Fi|Thriller
9,1721,1546,3.189209,1.362936,1.362054,4.346688,4.343877,Titanic (1997),Drama|Romance
10,2427,803,2.904716,1.476905,1.475066,4.289990,4.284648,"Thin Red Line, The (1998)",Action|Drama|War
11,1391,1074,3.031004,1.405722,1.404413,4.260750,4.256783,Mars Attacks! (1996),Action|Comedy|Sci-Fi|War
12,2628,2250,3.352183,1.267312,1.266749,4.248261,4.246373,Star Wars: Episode I - The Phantom Menace (1999),Action|Adventure|Fantasy|Sci-Fi
13,2459,247,2.392697,1.775419,1.768231,4.248039,4.230841,"Texas Chainsaw Massacre, The (1974)",Horror
14,1183,989,2.995196,1.406221,1.404800,4.211909,4.207651,"English Patient, The (1996)",Drama|Romance|War
15,2683,1434,3.156549,1.324946,1.324022,4.182258,4.179341,Austin Powers: The Spy Who Shagged Me (1999),Comedy
16,3785,613,2.787460,1.498235,1.495791,4.176272,4.169459,Scary Movie (2000),Comedy|Horror
17,2384,523,2.718502,1.536061,1.533124,4.175786,4.167801,Babe: Pig in the City (1998),Children's|Comedy
18,327,358,2.553883,1.632506,1.627945,4.169228,4.157582,Tank Girl (1995),Action|Comedy|Musical|Sci-Fi
19,3608,861,2.935003,1.406437,1.404803,4.127896,4.123101,Pee-wee's Big Adventure (1985),Comedy
20,70,914,2.960946,1.389515,1.387994,4.114278,4.109777,From Dusk Till Dawn (1996),Action|Comedy|Crime|Horror|Thriller
21,1573,1421,3.152594,1.291097,1.290189,4.070306,4.067441,Face/Off (1997),Action|Sci-Fi|Thriller
22,2483,25,1.397940,2.910000,2.793600,4.068005,3.905285,"Day of the Beast, The (El D�a de la bestia) (1...",Comedy|Horror|Thriller
23,2021,789,2.897077,1.399648,1.397874,4.054888,4.049749,Dune (1984),Fantasy|Sci-Fi
24,3033,899,2.953760,1.372683,1.371156,4.054577,4.050067,Spaceballs (1987),Comedy|Sci-Fi

In [141]:
top_25_variance_1.to_csv('initial_seed_variance_1')

In [142]:
top_25_variance_2 = initial_seed.sort_values('new_score_2', ascending = False).head(25)

In [143]:
top_25_variance_2 = pd.merge (top_25_variance_2, movies)

In [144]:
#Top 25 movies based on variance_2.


top_25_variance_2

,movieid,frequency,log_value,variance_1,variance_2,new_score_1,new_score_2,title,genre
0,2710,1237,3.092370,1.732824,1.731423,5.358532,5.354200,"Blair Witch Project, The (1999)",Horror
1,1924,249,2.396199,2.119931,2.111418,5.079778,5.059377,Plan 9 from Outer Space (1958),Horror|Sci-Fi
2,231,660,2.819544,1.745921,1.743276,4.922702,4.915243,Dumb & Dumber (1994),Comedy
3,2657,1233,3.090963,1.588047,1.586759,4.908594,4.904613,"Rocky Horror Picture Show, The (1975)",Comedy|Horror|Musical|Sci-Fi
4,288,700,2.845098,1.708766,1.706324,4.861606,4.854660,Natural Born Killers (1994),Action|Thriller
5,2700,1269,3.103462,1.526163,1.524960,4.736387,4.732655,"South Park: Bigger, Longer and Uncut (1999)",Animation|Comedy
6,2712,945,2.975432,1.586651,1.584972,4.720973,4.715977,Eyes Wide Shut (1999),Drama
7,1676,1163,3.065580,1.447799,1.446554,4.438343,4.434526,Starship Troopers (1997),Action|Adventure|Sci-Fi|War
8,1917,1110,3.045323,1.448266,1.446961,4.410438,4.406464,Armageddon (1998),Action|Adventure|Sci-Fi|Thriller
9,1721,1546,3.189209,1.362936,1.362054,4.346688,4.343877,Titanic (1997),Drama|Romance
10,2427,803,2.904716,1.476905,1.475066,4.289990,4.284648,"Thin Red Line, The (1998)",Action|Drama|War
11,1391,1074,3.031004,1.405722,1.404413,4.260750,4.256783,Mars Attacks! (1996),Action|Comedy|Sci-Fi|War
12,2628,2250,3.352183,1.267312,1.266749,4.248261,4.246373,Star Wars: Episode I - The Phantom Menace (1999),Action|Adventure|Fantasy|Sci-Fi
13,2459,247,2.392697,1.775419,1.768231,4.248039,4.230841,"Texas Chainsaw Massacre, The (1974)",Horror
14,1183,989,2.995196,1.406221,1.404800,4.211909,4.207651,"English Patient, The (1996)",Drama|Romance|War
15,2683,1434,3.156549,1.324946,1.324022,4.182258,4.179341,Austin Powers: The Spy Who Shagged Me (1999),Comedy
16,3785,613,2.787460,1.498235,1.495791,4.176272,4.169459,Scary Movie (2000),Comedy|Horror
17,2384,523,2.718502,1.536061,1.533124,4.175786,4.167801,Babe: Pig in the City (1998),Children's|Comedy
18,327,358,2.553883,1.632506,1.627945,4.169228,4.157582,Tank Girl (1995),Action|Comedy|Musical|Sci-Fi
19,3608,861,2.935003,1.406437,1.404803,4.127896,4.123101,Pee-wee's Big Adventure (1985),Comedy
20,70,914,2.960946,1.389515,1.387994,4.114278,4.109777,From Dusk Till Dawn (1996),Action|Comedy|Crime|Horror|Thriller
21,1573,1421,3.152594,1.291097,1.290189,4.070306,4.067441,Face/Off (1997),Action|Sci-Fi|Thriller
22,3033,899,2.953760,1.372683,1.371156,4.054577,4.050067,Spaceballs (1987),Comedy|Sci-Fi
23,2021,789,2.897077,1.399648,1.397874,4.054888,4.049749,Dune (1984),Fantasy|Sci-Fi
24,3156,383,2.583199,1.551351,1.547301,4.007449,3.996985,Bicentennial Man (1999),Comedy|Drama|Sci-Fi

In [145]:
top_25_variance_2.to_csv('initial_seed_variance_2.csv')